.container {
  background-color: #1c1c1c;
  color: #bfbfbf;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  border-radius: 20px;
  overflow: hidden;
  
  max-height: 55vh;
  padding-right: 2rem;
}
